## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.sw[nop]
*~

## NetBeans
nbproject

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
spec/runtime-work
resources.tar.gz

# gemspec files
*.gemspec

# Rubymine files
.idea/*
